<nav id="navid">
	<div class="navcontainer">
		<div class="logo">
			<% if current_user %>
					<%= link_to 'justWrite', projects_path %>
			<% else %>
					<%= link_to 'justWrite', new_project_path %>
			<% end %>
		</div>
		<div class="login">
			<% if current_user %>
				<ul class="nav navbar-nav">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Hi, <%= current_user.username %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
							<a><%= link_to 'Log out', sessions_path, method: :delete %></a>
							</li>
						</ul>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Join
						</a>

						<ul class="dropdown-menu" role="menu">
							<a href="#"><li class="navbar-text pointer" data-toggle="modal" data-target="#userModal">Sign up</li></a>

							<a href="#"><li class="navbar-text pointer" data-toggle="modal" data-target="#loginModal">Log in</li></a>
						</ul>
					</li>
				</ul>
			<% end %>
		</div>
		<% if current_page?(new_project_path) || current_page?(controller: 'projects', action: 'edit', :id => id_for_route_verification)  %>
			<div class="railssubmit">
					<%= form_for @project do |f| %>
						Title: <%= f.text_field :title %>
						<%= f.text_field :text, :style => 'display: none' %></li>
					<%= f.submit 'Save'%>
					<% end %>
			</div>
			<div class="buttonbar">
				<button class="buttonclass" ng-click="boldText()"><b>B</b></button>
				<button class="buttonclass" ng-click="italicizeText()"><i>I</i></button>
				<button class="buttonclass" ng-click="underlineText()"><u>U</u></button>
				<button class="buttonclass">T</button>
			</div>
			<div class="bgchange">
				<div class="bgoption1" ng-click="orangestyle()"></div>
				<div class="bgoption2" ng-click="bluestyle()"></div>
			</div>
		<% else %>
		<% end %>
	</div>
</nav>


 <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
		<%= form_for session_new, url: sessions_path do |f| %>
		Username: <%= f.text_field :username %>
		<br />
		Password: <%= f.password_field :password %>
		Email: <%= f.text_field :email %>
		<%= f.submit "Log in", :class => 'btn btn-primary' %>
	<% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        	<%= form_for user_new do |f| %>
			Username: <%= f.text_field :username %>
			Email: <%= f.text_field :email %>
			<br />
			Password: <%= f.password_field :password %>
			Confirm Password <%= f.password_field :password_confirmation %>
			<%= f.submit "Sign up" %>
			<% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>