<nav id="navid" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="logo"></div>
		<ul class="nav navbar-nav navbar-right">
			<% if current_user %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Hi, <%= current_user.username %>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
						<%= link_to 'Log out', sessions_path, method: :delete %>
						</li>
					</ul>
				</li>

			<% else %>
			<li class="dropdown">

				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Join
				</a>

				<ul class="dropdown-menu" role="menu">
					<li>
						<%= link_to "Sign up", new_user_path %>
					</li>
					<li>
						<%= link_to 'Log in', new_sessions_path  %>	
					</li>
				</ul>
			</li>

			<% end %>
		</ul>
		<% if current_page?(new_project_path) || current_page?(controller: 'projects', action: 'edit', :id => id_for_route_verification)  %>
		<div class="writebar">
			<div class="railssubmit"><%= form_for @project do |f| %>
					Title: <%= f.text_field :title %>
					<%= f.text_field :text, :style => 'display: none' %></li>
				<%= f.submit 'Save'%></div>
				<% end %>
			<ul>
				<li><button><b>B</b></button>
				<li><button><i>I</i></button>
				<li><button><u>U</u></button>
				<li><button>T</button>
			</ul>
			<div class="bgchange">
				<div class="bgoption1"></div>
				<div class="bgoption2"></div>
			</div>
		</div>
		<% else %>
		<% end %>
		
	</div>
</nav>
