<h1> Edit this Project </h1>

<%= form_for @project do |f| %>
	Title: <%= f.text_field :title %>
	Text: <%= f.text_area :text, :style => "display: none" %>
	<%= f.submit 'Edit' %>
<% end %>

<iframe ng-init="submit_form2()" id="writeHere" style="width:500px; height:300px;"></iframe>

<button ng-click="submit_form()">Test</button>

<%= link_to 'List', projects_path %>