<!DOCTYPE html>
<html>
<head>
  <title>JwApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
	<%= link_to "Log out", sessions_path, method: :delete %>
	<% else %>
	<%= link_to "Sing up", new_user_path %>
	<%= link_to "Log in", new_sessions_path %>
	<% end %>

<%= yield %>

</body>
</html>
